<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>このサイトについて</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
    <!-ナビゲーションバー-!>
        <div class="display1">
            <nav class="navigationbar1">
                <p class="title1">Goat and Fox</p> <a class="toppage1btn" href="https://daikichi7778.github.io/goat-and-fox-channel/">トップページ</a> <a class="channelbtn" href="https://www.youtube.com/@Goat-and-Fox">Youtubeチャンネル</a>
                <a class="about" href="https://daikichi7778.github.io/goat-and-fox-channel/pages/about/index.html">このサイトについて</a>
            </nav>
            <!-ナビゲーションバー終わり-!>
<div class="contents1">
            <a class="backtoppage2" href="../../index.html">トップページに戻る</a>
            </div>
            <!- 戻るボタン終わり-!>
            <br>
            <p class="date">YYMM</p>
            </div>
            </div>
        </div>
        <script>
    </body>
</html>